name: Lint all

on: [push, pull_request]

jobs:
  build:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout branch
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Run Linter
        uses: github/super-linter@v4
