---
name: Lint and Test

on: [push, pull_request]

env:
  PICO_SDK_PATH: /home/runner/devel/pico/pico-sdk

jobs:

  lint:
    name: Lint all
    runs-on: ubuntu-latest
    steps:
      - name: Checkout branch
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Run Linter
        uses: github/super-linter@v4
        env:
          VALIDATE_ALL_CODEBASE: false
          DEFAULT_BRANCH: master
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  build-and-test:
    name: Build and test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout branch
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Bootstrap
        run: ./bootstrap.sh
        shell: bash
      - name: Build
        run: ./build.sh
        shell: bash
